#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.genText{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.imageBox img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.formSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.formSection label{
  padding: 1rem;
}

.formSection input{
  padding: 0.5rem;
  margin: auto 1rem;
}

@keyframes audio-wave {
  0% {
    height: 12px;
    transform: translateY(0);
    background: #ff8e3a;
  }
  25% {
    height: 40px;
    transform: translateY(-5px) scale(1.7);
    background: #ed509e;
  }
  50% {
    height: 6px;
    transform: translateY(0);
    background: #9c73f8;
  }
  100% {
    height: 6px;
    transform: translateY(0);
    background: #0fccce;
  }
}

.sound-wave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 3.75rem;
  height: 2.5rem;
}

.sound-wave div {
  width: 0.6rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background: orange;
  animation: audio-wave 2.2s infinite ease-in-out;
}

.sound-wave div:nth-child(2) {
  animation-delay: 0.2s;
}

.sound-wave div:nth-child(3) {
  animation-delay: 0.4s;
}

.sound-wave div:nth-child(4) {
  animation-delay: 0.6s;
}

.sound-wave div:nth-child(5) {
  animation-delay: 0.8s;
}