.chefHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
		0px 1px 2px 0px rgba(0, 0, 0, 0.06);
	height: 80px;
	overflow: hidden;
	background-color: #fff;
	width: 100vw;
	max-width: none;

	h1 {
		font-size: 2rem;
		font-weight: 400;
		transition: font-size 0.4s ease;
	}
}

.chefLogo {
	width: 100px;
	height: 100px;
	color: #fff;
	transition: width 0.4s ease, height 0.4s ease,
		color 0.4s ease, transofrm 0.4s ease;
}

@media (max-width: 500px) {
	.chefLogo {
		width: 60px;
		height: 60px;
		transform: scale(0.8);
	}

	.chefHeader h1 {
		font-size: 1.5rem;
	}
}
