.mainContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 2rem;
	min-height: 200px;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.formBody {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
	max-width: 100%;
}

.formBody > button {
	font-family: Inter, sans-serif;
	height: 2rem;
	outline: none;
	background-color: #141413;
	color: #fafaf8;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
	min-width: 150px;
	font-weight: 600;
}

.recipeBody {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 800px;
	padding: 2rem;
}

.formBody > button::before {
	content: '+ ';
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0.05);
}

ul.ingredients-list {
	margin-bottom: 48px;
}

ul.ingredients-list > li {
	color: #475467;
	line-height: 28px;
}

.get-recipe-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	background: #f0efeb;
	padding: 10px 50px;
	width: 600px;
}

.get-recipe-container h3 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 24px;
}

.get-recipe-container p {
	color: #6b7280;
	font-size: 0.875rem;
	line-height: 20px;
}

.get-recipe-container button {
	border: none;
	border-radius: 6px;
	background: #d17557;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	color: #fafaf8;
	padding: 9px 17px;
	font-family: Inter, sans-serif;
	font-size: 0.875rem;
	cursor: pointer;
}
/* 
.recipeList {
	border: 2px solid red;
	width: 600px;
} */
